@model Meeting


<h1>Лобби</h1>
<br />
<div>@Model.URL</div>
<br />
<div>@Model.Name</div>
<br />


<div id="users">


</div>

<form>
    <p>
        <label>Получить список фильмов</label><br />
    </p>

    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Отправить" />
    </div>
</form>



<div id="chatroom">


</div>





@section Scripts{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/meeting.js"></script>
}