@model Film


<h1>TEST LOBBY</h1>



<form asp-action="AddFilmAsync" asp-controller="lobby">
    <p>
        <label>Ссылка</label><br />
        <input type="text" name="link" />
    </p>

    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>

<form>
    <p>
        <label>Получить список фильмов</label><br />
    </p>

    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Отправить" />
    </div>
</form>



<div id="chatroom">


</div>





@section Scripts{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/meeting.js"></script>
}