@model Meeting


<h1>Лобби</h1>
<br />
<div>@Model.URL</div>
<br />
<div>@Model.Name</div>
<br />

<h1>Текущие пользователи</h1>
<div id="users">


</div>

<form>
    <p>
        <label>Ссылка или id</label><br />
    </p>

    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Добавить" />
    </div>
</form>



<div id="chatroom">
    <div style="border-radius: 50%;" class="rounded-circle" width="150" height="150" id="imageSlot"></div>

</div>


@section Scripts{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/meeting.js"></script>
}