


@{
    ViewData["Title"] = "Index";
}




<form asp-controller="Lobby" asp-action="CreateLobby">

    <input type="text" placeholder="Название лобби" name="lobbyName" />
    <button class="btn btn-outline-primary" type="submit">Создать</button>

</form>
