@model Film


<h1>TEST LOBBY</h1>



<form asp-action="AddFilmAsync" asp-controller="lobby">
    <p>
        <label>Ссылка</label><br />
        <input type="text" name="link" />
    </p>

    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>

<form asp-action="GetFilmListAsync" asp-controller="lobby">
    <p>
        <label>Получить список фильмов</label><br />
        
    </p>

    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>



<div>
    <span>
        @if(@Model is not null)
        {
            @Model.Description
            
        }
    </span>
</div>





@section Scripts{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/meeting.js"></script>
}