@model AuthentificateUserDto

@{
    ViewData["Title"] = "Index";
}

<h1>Authorization</h1>



<form asp-controller="Authorization" asp-action="AuthroizeAsync">
    <div>
        <div>
            <input asp-for="UserName" type="text"/>

        </div>
        <div>
            <input asp-for="Password" type="password"/>
        </div>
        <div>
            <button class="btn btn-outline-success" type="submit">Log in</button>
        </div>
    </div>


</form>

<div>
    <form asp-action="register" asp-controller="Authorization">
        <button class="btn btn-outline-success" type="submit">Register</button>
    </form>

</div>



